<h1><%=@article.title%></h1>
<div>
  <%= @article.content %>
</div>

<div>
  <%=link_to "Delete article", @article, method: :delete %>
  <%# hay diferentes formas de redireccionar, rutas estáticas con /, por id: article_path(id:@article), etc  %>
</div>